# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular Data Science Languages
* List of popular Data Science Libraries
* List of common Data Science Tools

##### Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) Scala
4) Julia

##### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scipy
3. TensorFlow

| Data Science Tools |
|--------------------|
|Apache Spark|
|Tableau|
|Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
convert_to_hours = 200/60
print(convert_to_hours)

3.3333333333333335

## Author
Prasanth Babu